body {
    background-color: lightskyblue;
    color: #000000;
}

#logo {
    float: right;
}

#content {
    margin-left: 20%;
    margin-top: 10%;
}

legend {
    font-size: 50px;
    font-weight: 600;
}